<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3205</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/_latarchE/_latarchW/_latbowlE/_latbowlW/_latcirNE/_latcirNW/_latcirSE/_latcirSW/_latcrossbar/_latcurveNE/_latcurveSE/_latdot/_lathalfserifNW/_lathalfserifSE/_lathalfserifascW/_latserifSE/_latserifSW/_latlongserifSW/_latserifNE/_latserifNW/_latstemNE/_latstemNW/_latstemSE/_latstemSW/_latstemascW/_latstemdescE/_latstemdescW</string>
    <string>/_kldiagNWSE/_kldiagSE/_kldiagSWNE/_kldiagNW/_klloopflat/_klmidN/uniA901/uniA903/uniA904/uniA910/uniA917/uniA918/uniA91A/uniA91F/uniA923/uniA925</string>
    <string>/uniA900/uniA901/uniA902/uniA903/uniA904/uniA905/uniA906/uniA907/uniA908/uniA909/uniA90A/uniA90B/uniA90C/uniA90D/uniA90E/uniA90F/uniA910/uniA911/uniA912/uniA913/uniA914/uniA915/uniA916/uniA917/uniA918/uniA919/uniA91A/uniA91B/uniA91C/uniA91D/uniA91E/uniA91F/uniA920/uniA921/uniA922/uniA923/uniA924/uniA925/uniA901/uniA926/uniA901/uniA927/uniA901/uniA928/uniA901/uniA929/uniA901/uniA92A/uniA901/uniA92B/uniA901/uniA92C/uniA901/uniA92D/uniA901/uniA92E/uniA901/uniA92F/uniA901/uniA901</string>
    <string>/uniA916/uniA91E///uniA916/uniA91E/backslash/uniA916/uniA91E |/uniA916/uniA91E ¦/uniA916/uniA91E/space ?/uniA916/uniA91E ¿/uniA916/uniA91E !/uniA916/uniA91E ¡/uniA916/uniA91E ./uniA916/uniA91E/ellipsis/uniA916/uniA91E ·/uniA916/uniA91E 
/uniA916/uniA91E ,/uniA916/uniA91E ;/uniA916/uniA91E :/uniA916/uniA91E/uniA916/uniA91E/uniA916/uniA91E/uniA916/uniA91E 
(/uniA916/uniA91E )(HO)(hog)(853[/uniA916/uniA91E ][HO][hog][853]{/uniA916/uniA91E }{HO}{hog}{853}/space/space</string>
    <string>"/uniA916/uniA91E '/uniA916/uniA91E/quotesinglbase/quotedblbase/hyphenationpoint</string>
    <string>/uniA916/uniA917/uniA918/uniA919/uniA921 0102030405060708090Hlf0O</string>
    <string>/uniA916 ~/uniA916 ^/uniA916/dagger/uniA916/bullet/uniA916/lozenge/uniA916/daggerdbl/uniA916/FontBslnSideBrngMrkrLft/uniA916/FontBslnSideBrngMrkrRt/uniA916</string>
    <string>0#0/uniA921//H/uniA921 0/fraction 0%0/perthousand 0/approxequal 0=0/notequal 0±0/lessequal 0/greaterequal 0&lt;0&gt;0×0+0/minus 0÷0/infinity 0$£/euro ¥/summation/product/Ohm/Delta ¢µ/partialdiff/pi/florin/integral ¬0/radical 0¤08°0/bulletoperator 00/space</string>
    <string>/uniA901/uniA916 &amp;/uniA91E H&amp;HS8gHn§n¶</string>
    <string>1¹%02²3³4/foursuperior ½¼¾</string>
    <string>0/Ohm/summation/Delta/_latcrossbar/dagger/lozenge</string>
    <string>~/space/tildecomb/tilde n/openbox n^«»/guilsinglleft/guilsinglright</string>
    <string>&amp;S§R®C©@/trademark Maªoº</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Kay Pho Du Regular: 2023</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>uniA900</string>
    <string>uniA901</string>
    <string>uniA902</string>
    <string>uniA903</string>
    <string>uniA904</string>
    <string>uniA905</string>
    <string>uniA906</string>
    <string>uniA907</string>
    <string>uniA908</string>
    <string>uniA909</string>
    <string>uniA90A</string>
    <string>uniA90B</string>
    <string>uniA90C</string>
    <string>uniA90D</string>
    <string>uniA90E</string>
    <string>uniA90F</string>
    <string>uniA910</string>
    <string>uniA911</string>
    <string>uniA912</string>
    <string>uniA913</string>
    <string>uniA914</string>
    <string>uniA915</string>
    <string>uniA916</string>
    <string>uniA917</string>
    <string>uniA918</string>
    <string>uniA919</string>
    <string>uniA91A</string>
    <string>uniA91B</string>
    <string>uniA91C</string>
    <string>uniA91D</string>
    <string>uniA91E</string>
    <string>uniA91F</string>
    <string>uniA920</string>
    <string>uniA921</string>
    <string>uniA922</string>
    <string>uniA923</string>
    <string>uniA924</string>
    <string>uniA925</string>
    <string>uniA926</string>
    <string>uniA927</string>
    <string>uniA928</string>
    <string>uniA929</string>
    <string>uniA92A</string>
    <string>uniA92B</string>
    <string>uniA92C</string>
    <string>uniA92D</string>
    <string>uniA92E</string>
    <string>uniA92F</string>
    <string>_klascNE</string>
    <string>_klascNW</string>
    <string>_klcircleNE</string>
    <string>_klcircleNW</string>
    <string>_klcircleSE</string>
    <string>_klcircleSEshort</string>
    <string>_klcircleSW</string>
    <string>_klcircleSWshort</string>
    <string>_klcirclemidW</string>
    <string>_kldescSE</string>
    <string>_kldescSW</string>
    <string>_kldescserifSE</string>
    <string>_kldescserifSW</string>
    <string>_kldiagNW</string>
    <string>_kldiagNWSE</string>
    <string>_kldiagSE</string>
    <string>_kldiagSWNE</string>
    <string>_klheadcir</string>
    <string>_klhookascE</string>
    <string>_klhookascW</string>
    <string>_klloopflat</string>
    <string>_klmidE</string>
    <string>_klmidEN</string>
    <string>_klmidN</string>
    <string>_klmidS</string>
    <string>_klmidW</string>
    <string>_klmidWN</string>
    <string>_klmidline</string>
    <string>_klserifE</string>
    <string>_klserifEN</string>
    <string>_klserifENshort</string>
    <string>_klserifES</string>
    <string>_klserifESshort</string>
    <string>_klserifW</string>
    <string>_klserifWN</string>
    <string>_klserifWNshort</string>
    <string>_klserifWS</string>
    <string>_klserifWSshort</string>
    <string>_klsqEN</string>
    <string>_klsqES</string>
    <string>_klsqNE</string>
    <string>_klsqNEshort</string>
    <string>_klsqNW</string>
    <string>_klsqNWshort</string>
    <string>_klsqSE</string>
    <string>_klsqSEshort</string>
    <string>_klsqSW</string>
    <string>_klsqSWshort</string>
    <string>_klsqWN</string>
    <string>_klsqWS</string>
    <string>_klasccomp</string>
    <string>_klcirclecomp</string>
    <string>_kldesccomp</string>
    <string>_kldiagcomp</string>
    <string>_klsquarecomp</string>
    <string>_latarchE</string>
    <string>_latarchW</string>
    <string>_latbowlE</string>
    <string>_latbowlW</string>
    <string>_latcirNE</string>
    <string>_latcirNW</string>
    <string>_latcirSE</string>
    <string>_latcirSW</string>
    <string>_latcrossbar</string>
    <string>_latcurveNE</string>
    <string>_latcurveSE</string>
    <string>_latdot</string>
    <string>_lathalfserifNW</string>
    <string>_lathalfserifSE</string>
    <string>_lathalfserifascW</string>
    <string>_latlongserifSW</string>
    <string>_latroundarchE</string>
    <string>_latroundarchW</string>
    <string>_latroundbowlE</string>
    <string>_latroundbowlW</string>
    <string>_latserifNE</string>
    <string>_latserifNW</string>
    <string>_latserifSE</string>
    <string>_latserifSW</string>
    <string>_latstemNE</string>
    <string>_latstemNW</string>
    <string>_latstemSE</string>
    <string>_latstemSW</string>
    <string>_latstemascW</string>
    <string>_latstemdescE</string>
    <string>_latstemdescW</string>
    <string>_punctasterline</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>infinity</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>micro</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Ohm</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>florin</string>
    <string>approxequal</string>
    <string>Delta</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>ellipsis</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>fraction</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>dottedCircle</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>idotless</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>euro</string>
    <string>eth</string>
    <string>Eth</string>
    <string>thorn</string>
    <string>Thorn</string>
    <string>scaron</string>
    <string>Scaron</string>
    <string>yacute</string>
    <string>Yacute</string>
    <string>zcaron</string>
    <string>Zcaron</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>foursuperior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>hyphenationpoint</string>
    <string>bulletoperator</string>
    <string>brokenbar</string>
    <string>hyphentwo</string>
    <string>nonbreakinghyphen</string>
    <string>softhyphen</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>minus</string>
    <string>acutecomb</string>
    <string>gravecomb</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>tildecomb</string>
    <string>multiply</string>
    <string>divisionslash</string>
    <string>dieresiscomb</string>
    <string>ringcomb</string>
    <string>cedillacomb</string>
    <string>openbox</string>
    <string>zerowidthspace</string>
    <string>emquad</string>
    <string>emspace</string>
    <string>narrownbspace</string>
    <string>punctuationspace</string>
    <string>sixperemspace</string>
    <string>threeperemspace</string>
    <string>enquad</string>
    <string>enspace</string>
    <string>fourperemspace</string>
    <string>figurespace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>FontBslnSideBrngMrkrLft</string>
    <string>FontBslnSideBrngMrkrRt</string>
    <string>VS1</string>
    <string>VS2</string>
    <string>VS3</string>
    <string>VS4</string>
    <string>VS5</string>
    <string>VS6</string>
    <string>VS7</string>
    <string>VS8</string>
    <string>VS9</string>
    <string>VS10</string>
    <string>VS11</string>
    <string>VS12</string>
    <string>VS13</string>
    <string>VS14</string>
    <string>VS15</string>
    <string>VS16</string>
    <string>graphemejoinercomb</string>
    <string>wordjoiner</string>
    <string>zerowidthjoiner</string>
    <string>zerowidthnobreakspace</string>
    <string>zerowidthnonjoiner</string>
    <string>lineseparator</string>
    <string>objectrepchar</string>
    <string>paragraphseparator</string>
    <string>repchar</string>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>FontBslnSideBrngMrkrLft</key>
    <string>uniF130</string>
    <key>FontBslnSideBrngMrkrRt</key>
    <string>uniF131</string>
    <key>Ohm</key>
    <string>Omega</string>
    <key>VS1</key>
    <string>uniFE00</string>
    <key>VS10</key>
    <string>uniFE09</string>
    <key>VS11</key>
    <string>uniFE0A</string>
    <key>VS12</key>
    <string>uniFE0B</string>
    <key>VS13</key>
    <string>uniFE0C</string>
    <key>VS14</key>
    <string>uniFE0D</string>
    <key>VS15</key>
    <string>uniFE0E</string>
    <key>VS16</key>
    <string>uniFE0F</string>
    <key>VS2</key>
    <string>uniFE01</string>
    <key>VS3</key>
    <string>uniFE02</string>
    <key>VS4</key>
    <string>uniFE03</string>
    <key>VS5</key>
    <string>uniFE04</string>
    <key>VS6</key>
    <string>uniFE05</string>
    <key>VS7</key>
    <string>uniFE06</string>
    <key>VS8</key>
    <string>uniFE07</string>
    <key>VS9</key>
    <string>uniFE08</string>
    <key>bulletoperator</key>
    <string>uni2219</string>
    <key>caroncomb</key>
    <string>uni030C</string>
    <key>cedillacomb</key>
    <string>uni0327</string>
    <key>circumflexcomb</key>
    <string>uni0302</string>
    <key>dieresiscomb</key>
    <string>uni0308</string>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>dottedCircle</key>
    <string>uni25CC</string>
    <key>emquad</key>
    <string>uni2001</string>
    <key>emspace</key>
    <string>uni2003</string>
    <key>enquad</key>
    <string>uni2000</string>
    <key>enspace</key>
    <string>uni2002</string>
    <key>euro</key>
    <string>Euro</string>
    <key>fi</key>
    <string>uniFB01</string>
    <key>figurespace</key>
    <string>uni2007</string>
    <key>fl</key>
    <string>uniFB02</string>
    <key>fourperemspace</key>
    <string>uni2005</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>graphemejoinercomb</key>
    <string>uni034F</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>hairspace</key>
    <string>uni200A</string>
    <key>horizontalbar</key>
    <string>uni2015</string>
    <key>hyphenationpoint</key>
    <string>uni2027</string>
    <key>hyphentwo</key>
    <string>uni2010</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>lineseparator</key>
    <string>uni2028</string>
    <key>micro</key>
    <string>uni00B5</string>
    <key>narrownbspace</key>
    <string>uni202F</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>nonbreakinghyphen</key>
    <string>uni2011</string>
    <key>objectrepchar</key>
    <string>uniFFFC</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>openbox</key>
    <string>uni2423</string>
    <key>paragraphseparator</key>
    <string>uni2029</string>
    <key>punctuationspace</key>
    <string>uni2008</string>
    <key>repchar</key>
    <string>uniFFFD</string>
    <key>ringcomb</key>
    <string>uni030A</string>
    <key>sixperemspace</key>
    <string>uni2006</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>thinspace</key>
    <string>uni2009</string>
    <key>threeperemspace</key>
    <string>uni2004</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
    <key>wordjoiner</key>
    <string>uni2060</string>
    <key>zerowidthjoiner</key>
    <string>uni200D</string>
    <key>zerowidthnobreakspace</key>
    <string>uniFEFF</string>
    <key>zerowidthnonjoiner</key>
    <string>uni200C</string>
    <key>zerowidthspace</key>
    <string>uni200B</string>
  </dict>
  <key>public.skipExportGlyphs</key>
  <array>
    <string>_klascNE</string>
    <string>_klascNW</string>
    <string>_klcircleNE</string>
    <string>_klcircleNW</string>
    <string>_klcircleSE</string>
    <string>_klcircleSEshort</string>
    <string>_klcircleSW</string>
    <string>_klcircleSWshort</string>
    <string>_klcirclemidW</string>
    <string>_kldescSE</string>
    <string>_kldescSW</string>
    <string>_kldescserifSE</string>
    <string>_kldescserifSW</string>
    <string>_kldiagNW</string>
    <string>_kldiagNWSE</string>
    <string>_kldiagSE</string>
    <string>_kldiagSWNE</string>
    <string>_klheadcir</string>
    <string>_klhookascE</string>
    <string>_klhookascW</string>
    <string>_klloopflat</string>
    <string>_klmidE</string>
    <string>_klmidEN</string>
    <string>_klmidN</string>
    <string>_klmidS</string>
    <string>_klmidW</string>
    <string>_klmidWN</string>
    <string>_klmidline</string>
    <string>_klserifE</string>
    <string>_klserifEN</string>
    <string>_klserifENshort</string>
    <string>_klserifES</string>
    <string>_klserifESshort</string>
    <string>_klserifW</string>
    <string>_klserifWN</string>
    <string>_klserifWNshort</string>
    <string>_klserifWS</string>
    <string>_klserifWSshort</string>
    <string>_klsqEN</string>
    <string>_klsqES</string>
    <string>_klsqNE</string>
    <string>_klsqNEshort</string>
    <string>_klsqNW</string>
    <string>_klsqNWshort</string>
    <string>_klsqSE</string>
    <string>_klsqSEshort</string>
    <string>_klsqSW</string>
    <string>_klsqSWshort</string>
    <string>_klsqWN</string>
    <string>_klsqWS</string>
    <string>_klasccomp</string>
    <string>_klcirclecomp</string>
    <string>_kldesccomp</string>
    <string>_kldiagcomp</string>
    <string>_klsquarecomp</string>
    <string>_latarchE</string>
    <string>_latarchW</string>
    <string>_latbowlE</string>
    <string>_latbowlW</string>
    <string>_latcirNE</string>
    <string>_latcirNW</string>
    <string>_latcirSE</string>
    <string>_latcirSW</string>
    <string>_latcrossbar</string>
    <string>_latcurveNE</string>
    <string>_latcurveSE</string>
    <string>_latdot</string>
    <string>_lathalfserifNW</string>
    <string>_lathalfserifSE</string>
    <string>_lathalfserifascW</string>
    <string>_latlongserifSW</string>
    <string>_latroundarchE</string>
    <string>_latroundarchW</string>
    <string>_latroundbowlE</string>
    <string>_latroundbowlW</string>
    <string>_latserifNE</string>
    <string>_latserifNW</string>
    <string>_latserifSE</string>
    <string>_latserifSW</string>
    <string>_latstemNE</string>
    <string>_latstemNW</string>
    <string>_latstemSE</string>
    <string>_latstemSW</string>
    <string>_latstemascW</string>
    <string>_latstemdescE</string>
    <string>_latstemdescW</string>
    <string>_punctasterline</string>
  </array>
</dict>
</plist>
