<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascNE</key>
  <string>ascN_E_.glif</string>
  <key>ascNW</key>
  <string>ascN_W_.glif</string>
  <key>asccomp</key>
  <string>asccomp.glif</string>
  <key>circleNE</key>
  <string>circleN_E_.glif</string>
  <key>circleNW</key>
  <string>circleN_W_.glif</string>
  <key>circleSE</key>
  <string>circleS_E_.glif</string>
  <key>circleSEshort</key>
  <string>circleS_E_short.glif</string>
  <key>circleSW</key>
  <string>circleS_W_.glif</string>
  <key>circleSWshort</key>
  <string>circleS_W_short.glif</string>
  <key>circlecomp</key>
  <string>circlecomp.glif</string>
  <key>circlemidW</key>
  <string>circlemidW_.glif</string>
  <key>descSE</key>
  <string>descS_E_.glif</string>
  <key>descSW</key>
  <string>descS_W_.glif</string>
  <key>desccomp</key>
  <string>desccomp.glif</string>
  <key>descserifSE</key>
  <string>descserifS_E_.glif</string>
  <key>descserifSW</key>
  <string>descserifS_W_.glif</string>
  <key>diagNW</key>
  <string>diagN_W_.glif</string>
  <key>diagNWSE</key>
  <string>diagN_W_S_E_.glif</string>
  <key>diagSE</key>
  <string>diagS_E_.glif</string>
  <key>diagSWNE</key>
  <string>diagS_W_N_E_.glif</string>
  <key>diagcomp</key>
  <string>diagcomp.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>headcir</key>
  <string>headcir.glif</string>
  <key>hookascE</key>
  <string>hookascE_.glif</string>
  <key>hookascW</key>
  <string>hookascW_.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>latcir</key>
  <string>latcir.glif</string>
  <key>latn</key>
  <string>latn.glif</string>
  <key>loopflat</key>
  <string>loopflat.glif</string>
  <key>midE</key>
  <string>midE_.glif</string>
  <key>midEN</key>
  <string>midE_N_.glif</string>
  <key>midN</key>
  <string>midN_.glif</string>
  <key>midS</key>
  <string>midS_.glif</string>
  <key>midW</key>
  <string>midW_.glif</string>
  <key>midWN</key>
  <string>midW_N_.glif</string>
  <key>midline</key>
  <string>midline.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>serifE</key>
  <string>serifE_.glif</string>
  <key>serifEN</key>
  <string>serifE_N_.glif</string>
  <key>serifENshort</key>
  <string>serifE_N_short.glif</string>
  <key>serifES</key>
  <string>serifE_S_.glif</string>
  <key>serifESshort</key>
  <string>serifE_S_short.glif</string>
  <key>serifW</key>
  <string>serifW_.glif</string>
  <key>serifWN</key>
  <string>serifW_N_.glif</string>
  <key>serifWNshort</key>
  <string>serifW_N_short.glif</string>
  <key>serifWS</key>
  <string>serifW_S_.glif</string>
  <key>serifWSshort</key>
  <string>serifW_S_short.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sqEN</key>
  <string>sqE_N_.glif</string>
  <key>sqES</key>
  <string>sqE_S_.glif</string>
  <key>sqNE</key>
  <string>sqN_E_.glif</string>
  <key>sqNEshort</key>
  <string>sqN_E_short.glif</string>
  <key>sqNW</key>
  <string>sqN_W_.glif</string>
  <key>sqNWshort</key>
  <string>sqN_W_short.glif</string>
  <key>sqSE</key>
  <string>sqS_E_.glif</string>
  <key>sqSEshort</key>
  <string>sqS_E_short.glif</string>
  <key>sqSW</key>
  <string>sqS_W_.glif</string>
  <key>sqSWshort</key>
  <string>sqS_W_short.glif</string>
  <key>sqWN</key>
  <string>sqW_N_.glif</string>
  <key>sqWS</key>
  <string>sqW_S_.glif</string>
  <key>squarecomp</key>
  <string>squarecomp.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>uniA900</key>
  <string>uniA_900.glif</string>
  <key>uniA901</key>
  <string>uniA_901.glif</string>
  <key>uniA902</key>
  <string>uniA_902.glif</string>
  <key>uniA903</key>
  <string>uniA_903.glif</string>
  <key>uniA904</key>
  <string>uniA_904.glif</string>
  <key>uniA905</key>
  <string>uniA_905.glif</string>
  <key>uniA906</key>
  <string>uniA_906.glif</string>
  <key>uniA907</key>
  <string>uniA_907.glif</string>
  <key>uniA908</key>
  <string>uniA_908.glif</string>
  <key>uniA909</key>
  <string>uniA_909.glif</string>
  <key>uniA90A</key>
  <string>uniA_90A_.glif</string>
  <key>uniA90B</key>
  <string>uniA_90B_.glif</string>
  <key>uniA90C</key>
  <string>uniA_90C_.glif</string>
  <key>uniA90D</key>
  <string>uniA_90D_.glif</string>
  <key>uniA90E</key>
  <string>uniA_90E_.glif</string>
  <key>uniA90F</key>
  <string>uniA_90F_.glif</string>
  <key>uniA910</key>
  <string>uniA_910.glif</string>
  <key>uniA911</key>
  <string>uniA_911.glif</string>
  <key>uniA912</key>
  <string>uniA_912.glif</string>
  <key>uniA913</key>
  <string>uniA_913.glif</string>
  <key>uniA914</key>
  <string>uniA_914.glif</string>
  <key>uniA915</key>
  <string>uniA_915.glif</string>
  <key>uniA916</key>
  <string>uniA_916.glif</string>
  <key>uniA917</key>
  <string>uniA_917.glif</string>
  <key>uniA918</key>
  <string>uniA_918.glif</string>
  <key>uniA919</key>
  <string>uniA_919.glif</string>
  <key>uniA91A</key>
  <string>uniA_91A_.glif</string>
  <key>uniA91B</key>
  <string>uniA_91B_.glif</string>
  <key>uniA91C</key>
  <string>uniA_91C_.glif</string>
  <key>uniA91D</key>
  <string>uniA_91D_.glif</string>
  <key>uniA91E</key>
  <string>uniA_91E_.glif</string>
  <key>uniA91F</key>
  <string>uniA_91F_.glif</string>
  <key>uniA920</key>
  <string>uniA_920.glif</string>
  <key>uniA921</key>
  <string>uniA_921.glif</string>
  <key>uniA922</key>
  <string>uniA_922.glif</string>
  <key>uniA923</key>
  <string>uniA_923.glif</string>
  <key>uniA924</key>
  <string>uniA_924.glif</string>
  <key>uniA925</key>
  <string>uniA_925.glif</string>
  <key>uniA926</key>
  <string>uniA_926.glif</string>
  <key>uniA929</key>
  <string>uniA_929.glif</string>
  <key>uniA92A</key>
  <string>uniA_92A_.glif</string>
  <key>uniA92B</key>
  <string>uniA_92B_.glif</string>
  <key>uniA92C</key>
  <string>uniA_92C_.glif</string>
  <key>uniA92D</key>
  <string>uniA_92D_.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
