<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_klascNE</key>
  <string>_klascN_E_.glif</string>
  <key>_klascNW</key>
  <string>_klascN_W_.glif</string>
  <key>_klasccomp</key>
  <string>_klasccomp.glif</string>
  <key>_klcircleNE</key>
  <string>_klcircleN_E_.glif</string>
  <key>_klcircleNW</key>
  <string>_klcircleN_W_.glif</string>
  <key>_klcircleSE</key>
  <string>_klcircleS_E_.glif</string>
  <key>_klcircleSEshort</key>
  <string>_klcircleS_E_short.glif</string>
  <key>_klcircleSW</key>
  <string>_klcircleS_W_.glif</string>
  <key>_klcircleSWshort</key>
  <string>_klcircleS_W_short.glif</string>
  <key>_klcirclecomp</key>
  <string>_klcirclecomp.glif</string>
  <key>_klcirclemidW</key>
  <string>_klcirclemidW_.glif</string>
  <key>_kldescSE</key>
  <string>_kldescS_E_.glif</string>
  <key>_kldescSW</key>
  <string>_kldescS_W_.glif</string>
  <key>_kldesccomp</key>
  <string>_kldesccomp.glif</string>
  <key>_kldescserifSE</key>
  <string>_kldescserifS_E_.glif</string>
  <key>_kldescserifSW</key>
  <string>_kldescserifS_W_.glif</string>
  <key>_kldiagNW</key>
  <string>_kldiagN_W_.glif</string>
  <key>_kldiagNWSE</key>
  <string>_kldiagN_W_S_E_.glif</string>
  <key>_kldiagSE</key>
  <string>_kldiagS_E_.glif</string>
  <key>_kldiagSWNE</key>
  <string>_kldiagS_W_N_E_.glif</string>
  <key>_kldiagcomp</key>
  <string>_kldiagcomp.glif</string>
  <key>_klheadcir</key>
  <string>_klheadcir.glif</string>
  <key>_klhookascE</key>
  <string>_klhookascE_.glif</string>
  <key>_klhookascW</key>
  <string>_klhookascW_.glif</string>
  <key>_klloopflat</key>
  <string>_klloopflat.glif</string>
  <key>_klmidE</key>
  <string>_klmidE_.glif</string>
  <key>_klmidEN</key>
  <string>_klmidE_N_.glif</string>
  <key>_klmidN</key>
  <string>_klmidN_.glif</string>
  <key>_klmidS</key>
  <string>_klmidS_.glif</string>
  <key>_klmidW</key>
  <string>_klmidW_.glif</string>
  <key>_klmidWN</key>
  <string>_klmidW_N_.glif</string>
  <key>_klmidline</key>
  <string>_klmidline.glif</string>
  <key>_klserifE</key>
  <string>_klserifE_.glif</string>
  <key>_klserifEN</key>
  <string>_klserifE_N_.glif</string>
  <key>_klserifENshort</key>
  <string>_klserifE_N_short.glif</string>
  <key>_klserifES</key>
  <string>_klserifE_S_.glif</string>
  <key>_klserifESshort</key>
  <string>_klserifE_S_short.glif</string>
  <key>_klserifW</key>
  <string>_klserifW_.glif</string>
  <key>_klserifWN</key>
  <string>_klserifW_N_.glif</string>
  <key>_klserifWNshort</key>
  <string>_klserifW_N_short.glif</string>
  <key>_klserifWS</key>
  <string>_klserifW_S_.glif</string>
  <key>_klserifWSshort</key>
  <string>_klserifW_S_short.glif</string>
  <key>_klsqEN</key>
  <string>_klsqE_N_.glif</string>
  <key>_klsqES</key>
  <string>_klsqE_S_.glif</string>
  <key>_klsqNE</key>
  <string>_klsqN_E_.glif</string>
  <key>_klsqNEshort</key>
  <string>_klsqN_E_short.glif</string>
  <key>_klsqNW</key>
  <string>_klsqN_W_.glif</string>
  <key>_klsqNWshort</key>
  <string>_klsqN_W_short.glif</string>
  <key>_klsqSE</key>
  <string>_klsqS_E_.glif</string>
  <key>_klsqSEshort</key>
  <string>_klsqS_E_short.glif</string>
  <key>_klsqSW</key>
  <string>_klsqS_W_.glif</string>
  <key>_klsqSWshort</key>
  <string>_klsqS_W_short.glif</string>
  <key>_klsqWN</key>
  <string>_klsqW_N_.glif</string>
  <key>_klsqWS</key>
  <string>_klsqW_S_.glif</string>
  <key>_klsquarecomp</key>
  <string>_klsquarecomp.glif</string>
  <key>_latarchE</key>
  <string>_latarchE_.glif</string>
  <key>_latarchW</key>
  <string>_latarchW_.glif</string>
  <key>_latbowlE</key>
  <string>_latbowlE_.glif</string>
  <key>_latbowlW</key>
  <string>_latbowlW_.glif</string>
  <key>_latcrossbar</key>
  <string>_latcrossbar.glif</string>
  <key>_latdot</key>
  <string>_latdot.glif</string>
  <key>_lathalfserifNW</key>
  <string>_lathalfserifN_W_.glif</string>
  <key>_lathalfserifSE</key>
  <string>_lathalfserifS_E_.glif</string>
  <key>_lathalfserifascW</key>
  <string>_lathalfserifascW_.glif</string>
  <key>_latlongserifSW</key>
  <string>_latlongserifS_W_.glif</string>
  <key>_latroundarchE</key>
  <string>_latroundarchE_.glif</string>
  <key>_latroundarchW</key>
  <string>_latroundarchW_.glif</string>
  <key>_latroundbowlE</key>
  <string>_latroundbowlE_.glif</string>
  <key>_latroundbowlW</key>
  <string>_latroundbowlW_.glif</string>
  <key>_latserifNE</key>
  <string>_latserifN_E_.glif</string>
  <key>_latserifNW</key>
  <string>_latserifN_W_.glif</string>
  <key>_latserifSE</key>
  <string>_latserifS_E_.glif</string>
  <key>_latserifSW</key>
  <string>_latserifS_W_.glif</string>
  <key>_latstemNE</key>
  <string>_latstemN_E_.glif</string>
  <key>_latstemNW</key>
  <string>_latstemN_W_.glif</string>
  <key>_latstemSE</key>
  <string>_latstemS_E_.glif</string>
  <key>_latstemSW</key>
  <string>_latstemS_W_.glif</string>
  <key>_latstemascW</key>
  <string>_latstemascW_.glif</string>
  <key>_latstemdescE</key>
  <string>_latstemdescE_.glif</string>
  <key>_latstemdescW</key>
  <string>_latstemdescW_.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>uniA900</key>
  <string>uniA_900.glif</string>
  <key>uniA901</key>
  <string>uniA_901.glif</string>
  <key>uniA903</key>
  <string>uniA_903.glif</string>
  <key>uniA904</key>
  <string>uniA_904.glif</string>
  <key>uniA905</key>
  <string>uniA_905.glif</string>
  <key>uniA906</key>
  <string>uniA_906.glif</string>
  <key>uniA907</key>
  <string>uniA_907.glif</string>
  <key>uniA908</key>
  <string>uniA_908.glif</string>
  <key>uniA90A</key>
  <string>uniA_90A_.glif</string>
  <key>uniA90B</key>
  <string>uniA_90B_.glif</string>
  <key>uniA90C</key>
  <string>uniA_90C_.glif</string>
  <key>uniA90D</key>
  <string>uniA_90D_.glif</string>
  <key>uniA90E</key>
  <string>uniA_90E_.glif</string>
  <key>uniA90F</key>
  <string>uniA_90F_.glif</string>
  <key>uniA910</key>
  <string>uniA_910.glif</string>
  <key>uniA911</key>
  <string>uniA_911.glif</string>
  <key>uniA912</key>
  <string>uniA_912.glif</string>
  <key>uniA914</key>
  <string>uniA_914.glif</string>
  <key>uniA915</key>
  <string>uniA_915.glif</string>
  <key>uniA916</key>
  <string>uniA_916.glif</string>
  <key>uniA917</key>
  <string>uniA_917.glif</string>
  <key>uniA91A</key>
  <string>uniA_91A_.glif</string>
  <key>uniA91B</key>
  <string>uniA_91B_.glif</string>
  <key>uniA91C</key>
  <string>uniA_91C_.glif</string>
  <key>uniA91E</key>
  <string>uniA_91E_.glif</string>
  <key>uniA91F</key>
  <string>uniA_91F_.glif</string>
  <key>uniA920</key>
  <string>uniA_920.glif</string>
  <key>uniA921</key>
  <string>uniA_921.glif</string>
  <key>uniA922</key>
  <string>uniA_922.glif</string>
  <key>uniA923</key>
  <string>uniA_923.glif</string>
  <key>uniA925</key>
  <string>uniA_925.glif</string>
  <key>uniA926</key>
  <string>uniA_926.glif</string>
  <key>uniA929</key>
  <string>uniA_929.glif</string>
  <key>uniA92A</key>
  <string>uniA_92A_.glif</string>
  <key>uniA92B</key>
  <string>uniA_92B_.glif</string>
  <key>uniA92C</key>
  <string>uniA_92C_.glif</string>
  <key>uniA92D</key>
  <string>uniA_92D_.glif</string>
  <key>uniA92E</key>
  <string>uniA_92E_.glif</string>
</dict>
</plist>
